<ion-view view-title="Dashboard">
  <ion-content class="padding">

    <h1 class="center assertive">{{ success }}</h1>

    <div class="list">
      <label class="item item-input item-stacked-label">
        <span class="input-label">Title</span>
        <input type="text" placeholder="title" ng-model="al.title">
      </label>
      <label class="item item-input item-stacked-label">
        <span class="input-label">message</span>
        <input type="text" placeholder="message" ng-model="al.message">
      </label>
      <label class="item item-input item-stacked-label">
        <span class="input-label">button</span>
        <input type="text" placeholder="button" ng-model="al.button">
      </label>
    </div>

    <button class="button button-assertive button-block" ng-click="alert()">open Alert</button>

    <div class="list card">
      <div class="item item-divider">Recent Updates</div>
      <div class="item item-body">
        <div>
          There is a fire in <b>sector 3</b>
        </div>
      </div>
    </div>
    <div class="list card">
      <div class="item item-divider">Health</div>
      <div class="item item-body">
        <div>
          You ate an apple today!
        </div>
      </div>
    </div>
    <div class="list card">
      <div class="item item-divider">Upcoming</div>
      <div class="item item-body">
        <div>
          You have <b>29</b> meetings on your calendar tomorrow.
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
