<ion-view view-title="Dashboard">
  <ion-content class="padding">

    <h1 class="center assertive">{{ success }}</h1>

    <div class="list">
      <label class="item item-input item-stacked-label">
        <span class="input-label">Title</span>
        <input type="text" placeholder="title" ng-model="al.title">
      </label>
      <label class="item item-input item-stacked-label">
        <span class="input-label">message</span>
        <input type="text" placeholder="message" ng-model="al.message">
      </label>
      <label class="item item-input item-stacked-label">
        <span class="input-label">button</span>
        <input type="text" placeholder="button" ng-model="al.button">
      </label>
    </div>

    <button class="button button-positive button-block" ng-click="alert()">open Alert</button>
    <button class="button button-assertive button-block" ng-click="alert2()">open Alert2 - H-W!</button>

    <button class="button button-dark button-block" ng-click="picker()">Image Picker</button>
    <button class="button button-energized button-block" ng-click="wifi_search()">Image Picker</button>




  </ion-content>
</ion-view>
